$blue: #32A8FE;
$grey: #949494;
$text: #212121;
$light-grey: #F3F2F2;

::placeholder { 
   color: #fff;
   opacity: 1; 
}
 
:-ms-input-placeholder { 
   color: #fff;
}
 
::-ms-input-placeholder { 
   color: #fff;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Futura PT', sans-serif;
}

body {
   font-family: 'Futura PT', sans-serif;
   font-weight: normal;
   color: $text;
   overflow-x: hidden;
}
 
.container {
   max-width: 1250px;
   padding: 0 40px;
   margin: 0 auto;
}

.button {
   outline: none;
   cursor: pointer;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 9px 22px;
   border: 1px solid $blue;
   border-top: none;
   font-weight: 600;
   font-size: 13px;
   line-height: 17px;
   letter-spacing: 1.6px;
   color: $blue;
   text-transform: uppercase;

   &--fill {
      background: $blue;
      color: #fff;
   }

   &--white {
      border: 1px solid #fff;
      border-top: none;
      color: #fff;
   }
}


.input {
   outline: none;
   background: transparent;
   border: none;
   border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
   font-weight: 450;
   font-size: 16px;
   line-height: 21px;
   color: #fff;
   padding-bottom: 5px;
}

.block {
   display: block;
}

.section-title {
   font-weight: 600;
   font-size: 36px;
   line-height: 46px;
      
   &__line {
      position: relative;
      z-index: 2;

      &:before {
         position: absolute;
         content: '';
         height: 6px;
         width: 100%;
         background: $blue;
         left: 0;
         bottom: 8px;
         z-index: -1;
      }
   }

   &--center {
      text-align: center;
   }
}

.wrap {
   overflow: hidden;
}

.link-arrow {
   font-size: 13px;
   line-height: 17px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: $text;
   font-weight: 600;
   text-decoration: none;
   display: flex;
   align-items: center;

   &__icon {
      margin-left: 19px;
      transition: all 0.3s;
   }

}

.link-arrow:hover .link-arrow__icon {
   margin-left: 25px;
}

.color-blue {
   color: $blue;
}