::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Futura PT', sans-serif;
}

body {
  font-family: 'Futura PT', sans-serif;
  font-weight: normal;
  color: #212121;
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  padding: 0 40px;
  margin: 0 auto;
}

.button {
  outline: none;
  cursor: pointer;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 22px;
  border: 1px solid #32A8FE;
  border-top: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.6px;
  color: #32A8FE;
  text-transform: uppercase;
}

.button--fill {
  background: #32A8FE;
  color: #fff;
}

.button--white {
  border: 1px solid #fff;
  border-top: none;
  color: #fff;
}

.input {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding-bottom: 5px;
}

.block {
  display: block;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
}

.section-title__line {
  position: relative;
  z-index: 2;
}

.section-title__line:before {
  position: absolute;
  content: '';
  height: 6px;
  width: 100%;
  background: #32A8FE;
  left: 0;
  bottom: 8px;
  z-index: -1;
}

.section-title--center {
  text-align: center;
}

.wrap {
  overflow: hidden;
}

.link-arrow {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #212121;
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-arrow__icon {
  margin-left: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link-arrow:hover .link-arrow__icon {
  margin-left: 25px;
}

.color-blue {
  color: #32A8FE;
}

@font-face {
  font-family: 'Futura PT';
  src: url("/assets/fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("/assets/fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/FuturaPT-Book.woff") format("woff"), url("/assets/fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("/assets/fonts/FuturaPT-Demi.eot");
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("/assets/fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/FuturaPT-Demi.woff") format("woff"), url("/assets/fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.ui-widget.ui-widget-content {
  border: none !important;
  background: #FFF;
}

.ui-slider-horizontal .ui-slider-range {
  background: #32A8FE;
}

.ui-slider-horizontal {
  height: 4px !important;
}

.ui-state-default {
  outline: none;
  width: 19px !important;
  height: 19px !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50% !important;
  left: 49.74874371859297%;
  cursor: pointer !important;
  background: #000 !important;
  border: 2px solid #FFFFFF !important;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 6px rgba(42, 114, 146, 0.25);
          box-shadow: 0 0 6px rgba(42, 114, 146, 0.25);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 0 !important;
}

.header {
  background: #212121;
  padding-top: 55px;
  padding-bottom: 55px;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.header-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 22px;
}

.header-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__time {
  font-size: 13px;
  line-height: 17px;
  margin-right: 33px;
}

.header__phone {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  padding-left: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__phone:before {
  position: absolute;
  content: url(/assets/icons/phone.svg);
  left: 0;
  top: 2px;
}

.header__phone:hover {
  color: #32A8FE;
}

.header-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.header-nav__link {
  display: block;
  margin-right: 35px;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-nav__link:hover {
  color: #32A8FE;
}

.hero {
  background-color: #212121;
  padding-top: 70px;
}

.hero__container {
  position: relative;
  padding-bottom: 115px;
}

.hero-breadcrumbs {
  margin-bottom: 50px;
}

.hero-breadcrumbs__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-right: 13px;
}

.hero-breadcrumbs__link:not(:first-child) {
  padding-left: 30px;
}

.hero-breadcrumbs__link:not(:first-child):before {
  position: absolute;
  content: '';
  width: 15px;
  height: 1px;
  background: #fff;
  left: 0;
  top: 12px;
}

.hero__title {
  max-width: 620px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #32A8FE;
  margin-bottom: 18px;
}

.hero__ruble {
  font-weight: 600;
  font-size: 24px;
  color: #32A8FE;
}

.hero__subtitle {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  max-width: 657px;
}

.hero__subtitle--main {
  max-width: 100%;
}

.hero__text {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  max-width: 657px;
  margin-top: 40px;
}

.hero-right {
  position: absolute;
  bottom: 0;
  right: -150px;
}

.hero-right:before {
  position: absolute;
  content: '';
  width: 471px;
  height: 181px;
  background: #32A8FE;
  mix-blend-mode: multiply;
  bottom: 113px;
  left: 105px;
}

.hero-right--main {
  right: -150px;
  bottom: -440px;
}

.hero-right--vertical:before {
  width: 255px;
  height: 450px;
  left: 213px;
}

.hero__img {
  max-width: 767px;
  display: block;
}

.hero__img--main {
  position: absolute;
  right: -150px;
  bottom: -440px;
}

.hero.hero--white {
  background-color: #fff;
}

.hero.hero--white .hero__title {
  max-width: 100%;
}

.hero.hero--white .hero__subtitle,
.hero.hero--white .hero__text {
  color: #212121;
  max-width: 100%;
}

.hero.hero--white .hero-breadcrumbs__link {
  color: #212121;
}

.hero.hero--white .hero-breadcrumbs__link:not(:first-child):before {
  background-color: #212121;
}

.calculator {
  margin-top: 52px;
}

.calculator-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculator-tab {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #949494;
  margin-right: 38px;
  padding-bottom: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.calculator-tab:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #32A8FE;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  bottom: 0;
}

.calculator-tab--active {
  color: #fff;
}

.calculator-tab--active:before {
  opacity: 1;
}

.calculator-tab:hover {
  color: #fff;
}

.calculator-sliders {
  margin-top: 40px;
  display: none;
  -ms-grid-columns: 350px 350px;
      grid-template-columns: 350px 350px;
  grid-column-gap: 70px;
  grid-row-gap: 32px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.calculator-sliders--active {
  display: -ms-grid;
  display: grid;
}

.calculator-slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 7px;
}

.calculator-slider__sum {
  font-weight: 450;
  font-size: 38px;
  line-height: 49px;
  color: #fff;
}

.calculator-slider__sum--small {
  font-size: 18px;
  text-transform: uppercase;
}

.calculator-slider__text {
  font-weight: 450;
  font-size: 13px;
  line-height: 17px;
  color: #949494;
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.calculator-slider__labels {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator-slider__label {
  font-weight: 450;
  font-size: 13px;
  line-height: 17px;
  color: #949494;
}

.calculator-slider__label--move {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.calculator-result {
  color: #fff;
}

.calculator-result__small {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-right: 8px;
}

.calculator-result__sum {
  font-weight: 450;
  font-size: 38px;
  line-height: 21px;
  color: #32A8FE;
}

.calculator-result__ruble {
  font-size: 18px;
}

.calculator-result__total {
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
}

.calculator-container {
  margin: 0 auto;
  max-width: 889px;
  width: 100%;
}

.calculator-form .button {
  margin: 0 auto;
  margin-top: 80px;
}

.small-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.small-form__input {
  margin-right: 40px;
  width: 206px;
}

.small-form__hero {
  margin-top: 60px;
}

.benefits {
  position: relative;
  margin-bottom: 70px;
}

.benefits:after {
  position: absolute;
  content: '';
  width: 4px;
  height: 102px;
  background: #212121;
  left: calc(50% - 2px);
  bottom: -70px;
}

.benefits__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.benefits__container:before {
  position: absolute;
  content: '';
  width: 2360px;
  height: 100%;
  background: #F3F2F2;
  left: -1124px;
  top: 0;
  z-index: -2;
}

.benefits__container--main {
  padding-bottom: 142px;
}

.benefits__container--main:before {
  width: 2000px;
}

.benefits-block {
  padding: 55px;
  background: #fff;
  position: relative;
  margin-top: -60px;
  width: 100%;
}

.benefits-block:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 251px;
  background: #32A8FE;
  left: -25px;
  top: 0;
}

.benefits-block--main {
  width: 770px;
}

.benefits-list {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.benefits-list--main {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.benefits-list__item {
  padding: 38px 25px 34px 60px;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-rows: 1fr 25px 1fr;
}

.benefits-list__item--main {
  padding: 38px 25px 34px 25px;
}

.benefits-list__item--blue {
  background: #32A8FE;
}

.benefits-list__item--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.benefits-list__item.bt {
  border-top: 1px solid #2F2F2F;
}

.benefits-list__item.bl {
  border-left: 1px solid #2F2F2F;
}

.benefits-list__text {
  width: 190px;
  -ms-grid-row: 3;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.benefits-list__wheel {
  position: absolute;
  max-width: 254px;
  left: 254px;
  top: 257px;
}

.benefits-car {
  padding-left: 48px;
  margin-left: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(115px);
          transform: translateY(115px);
}

.benefits-car-block {
  max-width: 240px;
}

.benefits-car__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
}

.benefits-car__text {
  font-size: 18px;
  line-height: 23px;
  margin: 35px 0;
}

.steps {
  padding-bottom: 125px;
}

.steps--main {
  padding-top: 30px;
}

.steps--zaim-pod-pts {
  margin-top: -20px;
}

.steps-list {
  margin-top: 60px;
  background: url(/assets/images/steps-bg.png) no-repeat center;
  background-size: 867px;
}

.steps-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-list__row--1 {
  margin-bottom: 250px;
}

.steps-item {
  max-width: 271px;
}

.steps-item__num {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  color: #32A8FE;
}

.steps-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}

.steps-item__text {
  margin-top: 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.steps-item--left {
  margin-left: 80px;
}

.steps-item--right {
  margin-right: 40px;
}

.short-form {
  margin-bottom: 120px;
}

.short-form--main {
  margin-top: 0;
}

.short-form--description {
  margin-top: 115px;
}

.short-form__bg {
  position: relative;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
}

.short-form__bg:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 102px;
  background: #212121;
  left: 170px;
  bottom: -51px;
}

.short-form__bg:after {
  position: absolute;
  content: '';
  width: calc(100% + 140px);
  height: 152px;
  background: #F3F2F2;
  right: -140px;
  bottom: 0;
  z-index: -1;
}

.short-form__bg--main {
  padding-bottom: 44px;
}

.short-form__bg--main:after {
  height: 100%;
}

.short-form__form {
  width: 770px;
  position: relative;
  background: #212121;
  padding: 30px 50px 35px 60px;
  margin-top: -25px;
}

.short-form__form:before {
  position: absolute;
  content: '';
  width: 25px;
  height: calc(100% - 34px);
  background: #32A8FE;
  left: 0;
  top: 0;
}

.short-form__title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}

.types {
  padding-bottom: 220px;
}

.types--main {
  padding-bottom: 140px;
}

.types__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types-moto {
  margin-top: 30px;
  background: url(/assets/images/types.png) no-repeat;
  background-size: 550px;
  width: 550px;
  padding: 63px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.types-moto--main {
  margin-top: 142px;
}

.types-moto--car {
  background: url(/assets/images/types-car.png) no-repeat;
  background-size: contain;
}

.types-moto__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}

.types-moto__li {
  position: relative;
  color: #fff;
  padding-left: 52px;
  font-weight: 450;
  font-size: 18px;
  line-height: 36px;
}

.types-moto__li:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 1px;
  background: #fff;
  left: 0;
  top: 18px;
}

.types-moto__li:last-child {
  margin-bottom: 0;
}

.types-grid {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 270px;
      grid-template-columns: 270px 270px;
  -ms-grid-rows: 120px 120px;
      grid-template-rows: 120px 120px;
  grid-gap: 30px;
  -ms-grid-columns: 270px 30px 270px;
  -ms-grid-rows: 120px 30px 120px 30px 120px;
  position: relative;
}

.types-grid:before {
  content: "";
  width: 100%;
  height: 290px;
  background: #F3F2F2;
  position: absolute;
  right: -137px;
  z-index: -1;
  bottom: -80px;
}

.types-grid:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 180px;
  background: #000;
  bottom: -220px;
  left: 283px;
}

.types-grid--main {
  -ms-grid-rows: 120px 120px 120px;
      grid-template-rows: 120px 120px 120px;
}

.types-grid--main:after {
  height: 80px;
  bottom: -120px;
}

.types-grid__wrap {
  position: relative;
}

.types-grid__item {
  background: #fff;
  padding-top: 22px;
  padding-left: 30px;
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px solid #212121;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  padding-right: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

.types-grid__item:hover {
  color: #fff;
  background: #212121;
}

.types-grid__item:hover .types-grid__title {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

.types-grid__item:hover .types__link {
  opacity: 1;
}

.types-grid__title {
  display: block;
  -webkit-transition: color 2s;
  transition: color 2s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.types__link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.types__link .link-arrow__icon {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.types-ur {
  padding-bottom: 140px;
}

.types-ur__container {
  max-width: 820px;
}

.types-ur-tabs {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-column-gap: 30px;
}

.types-ur-tab {
  border: 1px solid #212121;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #212121;
  padding: 23px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  background: #fff;
  position: relative;
  z-index: 4;
}

.types-ur-tab--active {
  background: #32A8FE;
  border: 1px solid #32A8FE;
  color: #fff;
}

.types-ur-tab--auto {
  -ms-grid-column: 3;
}

.types-ur-block {
  padding: 181px 60px 85px;
  background: #F3F2F2;
  max-width: 430px;
  margin: 0 auto;
  margin-top: -135px;
  position: relative;
  z-index: 1;
}

.types-ur-block:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 181px;
  background: #212121;
  left: calc(50% - 2px);
  bottom: -140px;
}

.types-ur__text {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.request {
  color: #ffffff;
  margin-top: 80px;
  padding-bottom: 240px;
}

.request--main {
  padding-bottom: 140px;
}

.request-big__container {
  background: #212121;
  padding: 60px;
  padding-bottom: 70px;
  position: relative;
}

.request-big__container:after {
  position: absolute;
  content: '';
  width: 2790px;
  height: 337px;
  background: #F3F2F2;
  right: -1500px;
  bottom: -80px;
  z-index: -3;
}

.request-big__container:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 155px;
  background: #32A8FE;
  top: 0;
  left: 0;
}

.request-big__button {
  max-width: 167px;
}

.request__container {
  position: relative;
  padding: 75px 40px;
}

.request__container:before {
  position: absolute;
  content: '';
  width: 2470px;
  height: 100%;
  background: #212121;
  left: -1124px;
  top: 0;
  z-index: -2;
}

.request__container:after {
  position: absolute;
  content: '';
  width: 1632px;
  height: calc(100% + 160px);
  background: #F3F2F2;
  left: -1124px;
  top: -80px;
  z-index: -3;
}

.request-img {
  max-width: 840px;
}

.request-img__wrap {
  position: absolute;
  right: -330px;
  top: -68px;
}

.request-img__wrap:after {
  position: absolute;
  content: '';
  width: 181px;
  height: 450px;
  background: #32A8FE;
  top: 153px;
  right: 310px;
  mix-blend-mode: multiply;
}

.request-tab {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid #32A8FE;
  padding-bottom: 16px;
}

.request-tab--2 {
  -ms-grid-column: 3;
}

.request-tab--big {
  margin-top: 43px;
}

.request-form {
  max-width: 658px;
  position: relative;
}

.request-form:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 205px;
  background: #212121;
  left: 200px;
  bottom: -315px;
}

.request-form--main:before {
  height: 102px;
  bottom: -213px;
  left: calc(50% - 2px);
}

.request-form--big {
  max-width: 100%;
}

.request-form-grid {
  margin-top: 43px;
  margin-bottom: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 40px 1fr;
  -ms-grid-rows: 1fr 48px 1fr;
}

.request-form-grid--big {
  display: block;
  margin-bottom: 70px;
}

.request-form-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 206px 206px 167px;
      grid-template-columns: 206px 206px 167px;
  -ms-grid-rows: 36px 36px;
      grid-template-rows: 36px 36px;
  grid-column-gap: 40px;
  grid-row-gap: 45px;
  -ms-grid-columns: 206px 40px 206px 40px 166px;
  -ms-grid-rows: 50px 45px 50px;
}

.request-form-inputs--big {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.request-form-radio {
  -ms-grid-row: 3;
}

.request-form-radio--big {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
  grid-column-gap: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.request-form-radio--big-1 {
  margin-bottom: 43px;
}

.request-form-radio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request-form-radio__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.request-form-radio__block:nth-child(2) {
  -ms-grid-column: 3;
}

.request-form-radio__block:nth-child(3) {
  -ms-grid-column: 5;
}

.request-form-radio__block:nth-child(4) {
  -ms-grid-column: 7;
}

.request-form-radio__block--big {
  margin-bottom: 0;
}

.request-form-radio__hidden {
  display: none;
}

.request-form-radio__label {
  width: 19px;
  height: 19px;
  border: 1px solid #636363;
  border-radius: 50%;
  margin-right: 14px;
  cursor: pointer;
}

.request-form-radio__text--big {
  max-width: 190px;
}

.request-form-radio__date {
  margin-top: 32px;
  width: 100%;
  height: 32px;
  opacity: 0.4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.request-form-radio__date:enabled {
  opacity: 1;
}

.request-form-radio--2 {
  -ms-grid-column: 3;
}

.request-form-radio__hidden:checked ~ .request-form-radio__label {
  border: 4px solid #fff;
  background: #32A8FE;
}

.goals {
  padding-top: 118px;
  padding-bottom: 130px;
  position: relative;
}

.goals--page {
  padding-top: 90px;
}

.goals__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 288px 1fr;
      grid-template-columns: 288px 1fr;
  grid-column-gap: 100px;
  -ms-grid-columns: 288px 100px 1fr;
}

.goals-left {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.goals-left__text {
  font-size: 18px;
  line-height: 23px;
  margin: 40px 0;
  max-width: 288px;
}

.goals-list {
  -ms-grid-column: 3;
  position: relative;
}

.goals-list:before {
  content: "";
  width: 1120px;
  height: 265px;
  background: #F3F2F2;
  position: absolute;
  right: -700px;
  z-index: -1;
  top: -32px;
}

.goals-list:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 190px;
  background: #000;
  bottom: -130px;
  right: 140px;
}

.goals-item {
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid #212121;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-height: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.goals-item--black {
  background: #212121;
  color: #fff;
}

.way {
  margin-bottom: 190px;
}

.way__container {
  position: relative;
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.way__container:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 150px;
  background: #212121;
  left: 295px;
  bottom: -104px;
}

.way__container:after {
  position: absolute;
  content: '';
  width: 2334px;
  height: 100%;
  background: #F3F2F2;
  left: -1124px;
  top: 0;
  z-index: -2;
}

.way-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  -ms-grid-columns: 1fr 60px 1fr;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}

.way-item {
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 54px;
  padding-right: 55px;
  background: #fff;
  z-index: 3;
}

.way-item--1 {
  position: relative;
  max-height: 402px;
}

.way-item--1:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 192px;
  background: #32A8FE;
  left: -25px;
  top: 0;
}

.way-item--2 {
  -ms-grid-column: 3;
  max-height: 252px;
}

.way-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.way-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  max-width: 150px;
}

.way-ul {
  margin-top: 38px;
  list-style: none;
}

.way-ul__li {
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 25px;
}

.way-ul__li:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #32A8FE;
  left: 0;
  top: 12px;
}

.way-blue {
  position: absolute;
  background: #32A8FE;
  height: 340px;
  width: 446px;
  color: #fff;
  padding: 111px 59px 60px 135px;
  z-index: 1;
  top: 192px;
  right: 100px;
}

.way-blue__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.way-blue__strong {
  margin-top: 6px;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
}

.requirements {
  color: #fff;
  position: relative;
  margin-bottom: 210px;
}

.requirements:after {
  position: absolute;
  content: url(/assets/icons/requirements.svg);
  height: 375px;
  width: 808px;
  bottom: -190px;
  right: 0;
  z-index: -2;
}

.requirements-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #212121;
  padding-top: 85px;
  padding-left: 60px;
  padding-bottom: 50px;
  position: relative;
}

.requirements-block:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 482px;
  left: 0;
  top: 0;
  z-index: 2;
  background: #32A8FE;
}

.requirements-block:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 2000px;
  left: 0;
  top: 0;
  z-index: -1;
  background: #212121;
}

.requirements-right {
  max-width: 688px;
}

.requirements-tabs {
  margin: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.requirements-tab {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #949494;
  margin-right: 38px;
  padding-bottom: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.requirements-tab:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #32A8FE;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  bottom: 0;
}

.requirements-tab--active {
  color: #fff;
}

.requirements-tab--active:before {
  opacity: 1;
}

.requirements-tab:hover {
  color: #fff;
}

.requirements-tab--auto {
  margin-right: 0;
}

.requirements-img {
  max-width: 243px;
  margin-left: 40px;
}

.requirements-img__wrap {
  position: relative;
}

.requirements-img__wrap:before {
  position: absolute;
  content: '';
  height: 340px;
  width: 482px;
  background: #32A8FE;
  mix-blend-mode: multiply;
  top: 190px;
  left: -120px;
}

.requirements-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -ms-grid;
  display: grid;
  grid-template-columns: 207px auto;
  -ms-grid-columns: 207px 35px auto;
  grid-column-gap: 35px;
  padding: 19px 0;
}

.requirements-item__left {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #949494;
}

.requirements-item__right {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  -ms-grid-column: 3;
}

.requirements-remark {
  margin-top: -130px;
}

.requirements-remark__text {
  width: 440px;
  color: #212121;
  size: 18px;
  line-height: 23px;
}

.requirements-remark__title {
  width: 290px;
  margin-top: 30px;
  font-weight: 600;
  size: 24px;
  line-height: 30.77px;
  display: block;
}

.reviews {
  margin-bottom: 125px;
}

.reviews-slider {
  margin: 0 -25px;
}

.reviews-slider__wrap {
  width: 850px;
  padding: 0 25px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  margin: 0 auto;
  position: relative;
}

.reviews-slider__wrap:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 150px;
  background: #212121;
  bottom: -190px;
  left: 313px;
}

.reviews-slider__bg {
  background: #212121;
  margin-top: 108px;
  position: relative;
  padding-bottom: 20px;
}

.reviews-slider__bg:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 2000px;
  right: 0;
  top: 0;
  z-index: -1;
  background: #212121;
}

.reviews-slider-item {
  background: #fff;
  position: relative;
  margin: 0 25px;
  margin-top: 17px;
  outline: none;
}

.reviews-slider-item:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 313px;
  top: 0;
  left: -25px;
  background: #32A8FE;
}

.reviews-slider-item__header {
  background: #F3F2F2;
  padding-top: 28px;
  padding-left: 40px;
  padding-bottom: 35px;
  position: relative;
}

.reviews-slider-item__header::after {
  position: absolute;
  content: url(/assets/icons/quots.svg);
  right: 40px;
  top: -17px;
}

.reviews-slider-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 9px;
}

.reviews-slider-item__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.reviews-slider-item__body {
  padding-top: 57px;
  padding-left: 60px;
  padding-bottom: 60px;
  padding-right: 55px;
}

.reviews-slider-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider-item__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.reviews-slider-item__status {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.reviews-slider-item__avatar {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: 38px;
}

.reviews-slider-item__stars {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider-item__star {
  display: block;
  margin-right: 5px;
}

.reviews-slider-item__text {
  margin-top: 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.reviews-bottom {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-bottom__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-bottom__link {
  color: #fff;
  margin-left: 30px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.slick-dots li button {
  cursor: pointer;
  outline: none;
  font-size: 0;
  width: 8px;
  height: 8px;
  border: none;
  background: #fff;
  border-radius: 50%;
  margin-left: 23px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.slick-dots .slick-active button {
  width: 11px;
  height: 11px;
  border: 3px solid #32A8FE;
  background: transparent;
}

.office {
  position: relative;
  padding-bottom: 140px;
}

.office-map {
  position: relative;
}

.office-map:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 300px;
  background: #32A8FE;
  bottom: -25px;
  left: 0;
}

.office-map__wrap {
  position: absolute;
  right: 0;
  top: 140px;
  width: 55%;
}

.office__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.office-left {
  margin-right: 65px;
}

.office__text {
  margin-top: 40px;
  margin-bottom: 35px;
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #282828;
}

.office-icons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.office-icons__time {
  margin-bottom: 25px;
}

.office-icons__icon {
  margin-right: 22px;
}

.office-icons-text__bold {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #282828;
}

.office-icons-text__normal {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #282828;
}

.office-right__button {
  margin-top: 45px;
}

.office-bottom {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.office-bottom__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.office-bottom__link {
  margin-left: 30px;
}

.our-office__container {
  position: relative;
  margin-bottom: 135px;
}

.our-office__container:after {
  position: absolute;
  content: '';
  width: 2790px;
  height: 337px;
  background: #F3F2F2;
  right: -1500px;
  bottom: -80px;
  z-index: -3;
}

.description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.description__img {
  max-width: 335px;
  position: absolute;
  top: 15px;
  left: 65px;
}

.description__img--zalog {
  top: 95px;
}

.description__img--start {
  left: 40px;
}

.description-right {
  padding-top: 65px;
  margin-left: 40px;
  max-width: 770px;
}

.description__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.description__text--first {
  margin-top: 43px;
}

.description__text--last {
  margin-top: 30px;
}

.description__subtitle {
  margin-top: 70px;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 18px;
}

.description-list {
  list-style: none;
}

.description-list__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-left: 50px;
  margin-bottom: 15px;
}

.description-list__item:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 25px;
  background: #212121;
  left: 0;
  top: 50%;
}

.description-list__item:last-child {
  margin-bottom: 0;
}

.why {
  padding-top: 67px;
  margin-bottom: 78px;
}

.why__text {
  margin-top: 43px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.why-block {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  position: relative;
  padding-bottom: 125px;
}

.why-block:before {
  position: absolute;
  content: '';
  top: 145px;
  left: calc(50% - 416px);
  width: 832px;
  height: 293px;
  background: #F3F2F2;
  z-index: -1;
}

.why-block:after {
  position: absolute;
  content: '';
  width: 4px;
  height: 102px;
  background: #212121;
  bottom: 0px;
  right: 305px;
}

.why-block.why-block--no-divider {
  padding-bottom: 85px;
}

.why-block.why-block--no-divider:after {
  display: none;
  background-color: #fff;
}

.why-block.why-block--subtitle .why-list {
  margin-top: 0;
}

.why-list {
  list-style: none;
  margin-top: 19px;
}

.why-list--first {
  margin-top: 40px;
}

.why-list__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.why-list__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-left: 50px;
  margin-bottom: 15px;
}

.why-list__item:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 25px;
  background: #212121;
  left: 0;
  top: 11px;
}

.why-list__item:last-child {
  margin-bottom: 0;
}

.why-list__item-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.why-right {
  position: relative;
}

.why-right__img {
  max-width: 490px;
  position: absolute;
  top: 0;
  right: 0;
  mix-blend-mode: multiply;
}

.why-right__img--moto {
  top: 13px;
}

.why-right__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  padding: 50px 280px 120px 58px;
  background: #32A8FE;
  max-height: 260px;
}

.why-right__title--span {
  position: relative;
}

.why-right__title--spec {
  padding-right: 200px;
}

.why-right__title--auto {
  padding-right: 185px;
}

.why-right__title--gruz {
  padding-right: 130px;
}

.why-left {
  position: relative;
}

.why-left__title {
  position: absolute;
  top: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  padding: 50px 120px 58px 280px;
  background: #32A8FE;
  max-height: 260px;
  opacity: 0.5;
  text-align: right;
}

.why-left__title--span {
  position: relative;
}

.why-icons {
  margin-top: 80px;
}

.why-icons__list {
  margin-bottom: 80px;
  margin-top: 34px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 33px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 33px;
}

.why-icons__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.why-icons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-icons__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.why-icons__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.why-icons__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.why-icons__item:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.why-icons__item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.why-icons__item:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.why-icons__icon {
  margin-right: 28px;
}

.page-not-found {
  margin-top: 130px;
  margin-bottom: 100px;
  text-align: center;
}

.page-not-found__title {
  color: #212121;
  font-size: 52px;
  font-weight: 600;
  line-height: 42px;
}

.page-not-found__button {
  margin-top: 45px;
  display: inline-block;
}

.page-not-found__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-not-found__form:before {
  left: auto;
  top: 230px;
  bottom: auto;
}

.page-not-found__form:after {
  right: 0;
  width: 100%;
  height: 215px;
  top: 60px;
}

.contacts {
  margin-top: 70px;
}

.contacts .short-form__bg:before {
  left: calc(50% - 2px);
}

.contacts__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__form:after {
  width: 2790px;
  height: 580px;
  right: -1500px;
  bottom: 0px;
}

.contacts__form .short-form__title {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 46.15px;
}

.contacts__form .small-form {
  display: block;
}

.contacts__form input {
  width: 31%;
  margin-right: 0;
  padding-bottom: 15px;
}

.contacts__form input:not(:last-of-type) {
  margin-right: 30px;
}

.contacts__form textarea {
  width: 100%;
  margin-top: 50px;
  padding: 13px 18px;
  color: #fff;
  background-color: #212121;
  font-size: 16px;
  line-height: 20.51px;
  resize: none;
}

.contacts__form .button {
  margin: 50px auto 70px;
}

.contacts__form .short-form__form {
  width: 100%;
}

.contacts__form .short-form__form:before {
  height: 150px;
}

.contacts-icons {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-icons .office-icons__item {
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-icons .office-icons-text__bold {
  max-width: 340px;
  margin-bottom: 40px;
}

.contacts .short-form__title {
  text-align: center;
}

.rules {
  position: relative;
  padding-top: 0;
}

.rules:before {
  position: absolute;
  content: '';
  background-color: #212121;
  width: 4px;
  height: 60px;
  top: -100px;
  left: calc(50% - 2px);
}

.rules .why-block {
  margin-top: 60px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 60px;
}

.rules .why-block:before {
  display: none;
}

.rules .why-block:after {
  height: 60px;
  right: auto;
  left: calc(50% - 2px);
}

.rules .why-list__title {
  margin-top: 60px;
  margin-bottom: 25px;
}

.rules .why__text:first-of-type {
  margin-top: 0;
}

.rules .why__text:not(:last-of-type) {
  margin-bottom: 43px;
}

.rules .section-title {
  position: relative;
  max-width: 700px;
  margin-left: -57px;
  padding-left: 57px;
  padding-top: 20px;
  padding-bottom: 19px;
  background-color: #F3F2F2;
}

.rules .section-title:before {
  position: absolute;
  content: '';
  height: 100%;
  background-color: #32A8FE;
  width: 25px;
  top: 0;
  left: -25px;
}

.documents {
  margin-bottom: 145px;
}

.documents__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 140px 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.documents__container:before {
  position: absolute;
  content: '';
  background-color: #F3F2F2;
  width: 1565px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -4;
}

.documents__container:after {
  position: absolute;
  content: '';
  background-color: #212121;
  width: 4px;
  height: 120px;
  bottom: -80px;
  right: 277px;
}

.documents__item-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.documents__item {
  width: 410px;
  padding: 60px;
  position: relative;
  background-color: #fff;
}

.documents__item:first-of-type:before {
  position: absolute;
  content: '';
  height: 192px;
  background-color: #32A8FE;
  width: 25px;
  top: 0;
  left: -25px;
}

.documents__item:last-of-type:before {
  position: absolute;
  content: '';
  height: 260px;
  background-color: #32A8FE;
  width: 341px;
  top: 155px;
  left: -200px;
  z-index: -3;
}

.documents__link {
  text-decoration: none;
  color: #212121;
  -webkit-transition: .2s color ease-in;
  transition: .2s color ease-in;
}

.documents__link:hover {
  -webkit-transition: .2s color ease-in;
  transition: .2s color ease-in;
  color: #32A8FE;
}

.footer {
  background: #212121;
  padding-top: 250px;
  padding-bottom: 90px;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left__block {
  margin-top: 60px;
  margin-bottom: 45px;
}

.footer-right {
  max-width: 685px;
}

.footer__logo {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.footer__phone {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  padding-left: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__phone:before {
  position: absolute;
  content: url(/assets/icons/phone.svg);
  left: 0;
  top: 2px;
}

.footer__phone:hover {
  color: #32A8FE;
}

.footer__time {
  display: block;
  margin-top: 11px;
  margin-left: 40px;
}

.footer__button {
  margin-left: 40px;
}

.footer-socials {
  margin-top: 60px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.footer-socials__icon {
  fill: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-socials__icon:hover {
  fill: #32A8FE;
  cursor: pointer;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu-item {
  margin-bottom: 26px;
}

.footer-menu-item:last-child {
  margin-bottom: 0;
}

.footer-menu-item__title {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  display: block;
}

.footer-menu-item__title:before {
  position: absolute;
  content: '';
  width: 35px;
  height: 3px;
  background: #32A8FE;
  bottom: -4px;
  left: 0;
}

.footer-menu-item__title--link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-menu-item__title--link:hover {
  color: #32A8FE;
}

.footer-menu-item__list {
  margin-top: 26px;
}

.footer-menu-item__link {
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-menu-item__link:hover {
  color: #32A8FE;
}

.footer__text {
  margin-top: 77px;
}
/*# sourceMappingURL=main.css.map */