.contacts{
    margin-top: 70px;
    .short-form__bg:before {
        left: calc(50% - 2px);
    }

    &__form {
        justify-content: center;
        flex-direction: column;
        &:after { 
            width: 2790px;
            height: 580px;  
            right: -1500px;
            bottom: 0px; 
        }

        .short-form__title {
            margin-top: 25px;
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 46.15px;
        }

        .small-form {
            display: block;
        }

        input {
            width: 31%;
            margin-right: 0;
            padding-bottom: 15px;
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }

        textarea {
            width: 100%;
            margin-top: 50px;
            padding: 13px 18px;
            color: #fff;
            background-color: $text;
            font-size: 16px;
            line-height: 20.51px;
            resize: none;
        }
        
        .button {
            margin: 50px auto 70px;
        }

        .short-form__form {
            width: 100%;
            &:before {
                height: 150px;
            }
        }
    }

    &-icons {
        margin-top: 100px;
        display: flex;
        .office-icons__item {
            width: 50%;
            align-items: flex-start;
        }

        .office-icons-text__bold {
            max-width: 340px;
            margin-bottom: 40px;
        } 
    }

    .short-form__title {
        text-align: center;
    }
}