.description {
  
   &__container {
      display: flex;
      justify-content: flex-end;
      position: relative;
   }

   &__img {
      max-width: 335px;
      position: absolute;
      top: 15px;
      left: 65px;

      &--zalog {
         top: 95px;
      }

      &--start {
         left: 40px;
      }
   }

   &-left {
      // padding-left: 25px;
   }

   &-right {
      padding-top: 65px;
      margin-left: 40px;
      max-width: 770px;
      // max-width: 770px;
   }

   &__text {
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;

      &--first {
         margin-top: 43px;
      }

      &--last {
         margin-top: 30px;
      }
   }

   &__subtitle {
      margin-top: 70px;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      color: #000000;
      margin-bottom: 18px;
   }

   &-list {
      list-style: none;
   
      &__item {
         font-weight: normal;
         font-size: 18px;
         line-height: 24px;
         position: relative;
         padding-left: 50px;
         margin-bottom: 15px;

         &:before {
            position: absolute;
            content: '';
            height: 1px;
            width: 25px;
            background: $text;
            left: 0;
            top: 50%;
         }

         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}