.documents {
    margin-bottom: 145px;
    &__container {
        position: relative;
        display: flex;
        padding: 60px 140px 100px;
        align-items: start;
        justify-content: space-around;

        &:before {
            position: absolute;
            content: '';
            background-color: $light-grey;
            width: 1565px;
            height: 100%;
            right: 0;
            top: 0;
            z-index: -4;
        }

        &:after {
            position: absolute;
            content: '';
            background-color: $text;
            width: 4px;
            height: 120px;
            bottom: -80px;
            right: 277px;
        }
    }

    &__item-title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }

    &__item {
        width: 410px;
        padding: 60px;
        position: relative;
        background-color: #fff;
        &:first-of-type {
            
            &:before {
                position: absolute;
                content: '';
                height: 192px;
                background-color: $blue;
                width: 25px;
                top: 0;
                left: -25px;
            }
        }
        &:last-of-type {
            &:before {
                position: absolute;
                content: '';
                height: 260px;
                background-color: $blue;
                width: 341px;
                top: 155px;
                left: -200px;
                z-index: -3;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $text;
        transition: .2s color ease-in;
        &:hover {
            transition: .2s color ease-in;
            color: $blue;
        }
    }
}

