.footer {
   background: $text;
   padding-top: 250px;
   padding-bottom: 90px;
   color: #fff;

   &__container {
      display: flex;
      justify-content: space-between;
   }

   &-left {
      &__block {
         margin-top: 60px;
         margin-bottom: 45px;
      }
   }

   &-right {
      max-width: 685px;
   }

   &__logo {
      transform: translateX(-8px);
   }

   &__phone {
      position: relative;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      text-decoration: none;
      padding-left: 40px;
      transition: all 0.3s;

      &:before {
         position: absolute;
         content: url(/assets/icons/phone.svg);
         left: 0;
         top: 2px;
      }

      &:hover {
         color: $blue;
      }
   }

   &__time {
      display: block;
      margin-top: 11px;
      margin-left: 40px;
   }

   &__button {
      margin-left: 40px;
   }

   &-socials {
      margin-top: 60px;
      margin-bottom: 90px;
      display: flex;
      align-items: center;
      margin-left: 40px;

      &__link {
         display: flex;
         margin-right: 30px;
      }

      &__icon {
         fill: white;
         transition: all 0.3s;
         
         &:hover {
           fill: $blue;
           cursor: pointer;
         }
     
       }
   }

   &-menu {
      display: flex;
      justify-content: space-between;

      &-item {
         margin-bottom: 26px;

         &:last-child {
            margin-bottom: 0;
         }

         &__title {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;
            line-height: 40px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            position: relative;
            display: block;

            &:before {
               position: absolute;
               content: '';
               width: 35px;
               height: 3px;
               background: $blue;
               bottom: -4px;
               left: 0;
            }

            &--link {
               transition: all 0.3s;

               &:hover {
                  color: $blue;
               }
            }
         }

         &__list {
            margin-top: 26px;
         }

         &__link {
            color: #fff;
            text-decoration: none;
            display: block;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            transition: all 0.3s;

            &:hover {
               color: $blue;
            }
         }
      }
   }

   &__text {
      margin-top: 77px;
   }
}