.goals {
   padding-top: 118px;
   padding-bottom: 130px;
   position: relative;

   &--page {
      padding-top: 90px;
   }

   &__container {
      display: grid;
      grid-template-columns: 288px 1fr;
      grid-column-gap: 100px;
      -ms-grid-columns: 288px 100px 1fr;;
   }

   &-left {
      transform: translateY(-10px);

      &__text {
         font-size: 18px;
         line-height: 23px;
         margin: 40px 0;
         max-width: 288px;
      }
   }

   &-list {
      // display: flex;
      // flex-wrap: wrap;
      -ms-grid-column: 3;
      position: relative;

      &:before {
         content: "";
         width: 1120px;
         height: 265px;          
         background: #F3F2F2;
         position: absolute;
         right: -700px;
         z-index: -1;
         top: -32px;
      }

      &:after {
         position: absolute;
         content: "";
         width: 4px;
         height: 190px;
         background: #000;
         bottom: -130px;
         right: 140px;
      }
   }

   &-item {
      display: inline-block;
      padding: 9px 20px;
      border: 1px solid #212121;
      font-weight: 600;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      max-height: 35px;
      margin-right: 20px;
      margin-bottom: 20px;

      &--black {
         background: $text;
         color: #fff;
      }
   }
}