.header {
   background: #212121;
   padding-top: 55px;
   padding-bottom: 55px;
   color: #fff;

   // position: fixed;
   // width: 100%;
   // z-index: 5;

   &__container {
      display: flex;
      justify-content: space-between;
   }

   &__logo {
      transform: translateX(-4px);
   }

   &-right {

      &-top {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         margin-bottom: 22px;
      }

      &-bottom {
         display: flex;
      }
   }

   &__time {
      font-size: 13px;
      line-height: 17px;
      margin-right: 33px;
   }

   &__phone {
      position: relative;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      text-decoration: none;
      padding-left: 40px;
      transition: all 0.3s;

      &:before {
         position: absolute;
         content: url(/assets/icons/phone.svg);
         left: 0;
         top: 2px;
      }

      &:hover {
         color: $blue;
      }
   }

   &-nav {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: translateY(-1px);

      &__link {
         display: block;
         margin-right: 35px;
         font-weight: 600;
         font-size: 13px;
         line-height: 17px;
         letter-spacing: 0.2em;
         color: #fff;
         text-decoration: none;
         text-transform: uppercase;
         transition: all 0.3s;

         &:hover {
            color: $blue;
         }
      }
   }
}