.office {
   position: relative;
   // margin-bottom: 300px;
   padding-bottom: 140px;

   &-map {
      position: relative;

      &:before {
         position: absolute;
         content: '';
         height: 25px;
         width: 300px;
         background: $blue;
         bottom: -25px;
         left: 0;
      }

      &__wrap {
         position: absolute;
         right: 0;
         top: 140px;
         width: 55%;
      }
   }

   &__container {
      display: flex;
      justify-content: space-between;
   }

   &-left {
      margin-right: 65px;
   }

   &__text {
      margin-top: 40px;
      margin-bottom: 35px;
      max-width: 360px;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: #282828;
   }

   &-icons {
      &__item {
         display: flex;
      }

      &__time {
         margin-bottom: 25px;
      }

      &__icon {
         margin-right: 22px;
      }

      &-text {
         &__bold {
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #282828;
         }

         &__normal {
            display: block;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            color: #282828;
         }
      }
   }

   &-right {
      &__button {
         margin-top: 45px;
      }
   }

   &-bottom {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      &__links {
         display: flex;
      }

      &__link {
         margin-left: 30px;
      }
   }
}