.our-office {
  &__container {
    position: relative;
    margin-bottom: 135px;
    &:after {
      position: absolute;
      content: '';
      width: 2790px;
      height: 337px;
      background: #F3F2F2;
      right: -1500px;
      bottom: -80px;
      z-index: -3;
    }
  }
}