.page-not-found {
    margin-top: 130px;
    margin-bottom: 100px;
    text-align: center;

    &__title {
        color: $text;
        font-size: 52px;
        font-weight: 600;
        line-height: 42px;
    }

    &__button {
        margin-top: 45px;
        display: inline-block;
    }

    &__form {
        justify-content: center;
       
        &:before {
            left: auto;
            top: 230px;
            bottom: auto;
        }

        &:after {
            right: 0;
            width: 100%;
            height: 215px;
            top: 60px;
        }
    }
}
