.request {
   color: #ffffff;
   margin-top: 80px;
   padding-bottom: 240px;

   &--main {
      padding-bottom: 140px;
   }

   &-big {
      &__container {
         background: $text;
         padding: 60px;
         padding-bottom: 70px;
         position: relative;

         &:after {
            position: absolute;
            content: '';
            width: 2790px;
            height: 337px;
            background: #F3F2F2;
            right: -1500px;
            bottom: -80px;
            z-index: -3;
         }

         &:before {
            position: absolute;
            content: '';
            width: 25px;
            height: 155px;
            background: $blue;
            top: 0;
            left: 0;
         }
      }

      &__button {
         max-width: 167px;
      }
   }

   &__container {
      position: relative;
      padding: 75px 40px;

      &:before {
         position: absolute;
         content: '';
         width: 2470px;
         height: 100%;
         background: $text;
         left: -1124px;
         top: 0;
         z-index: -2;
      }

      &:after {
         position: absolute;
         content: '';
         width: 1632px;
         height: calc(100% + 160px);
         background: #F3F2F2;
         left: -1124px;
         top: -80px;
         z-index: -3;
      }
   }

   &-img {
      max-width: 840px;

      &__wrap {
         position: absolute;
         
         right: -330px;
         top: -68px;

         &:after {
            position: absolute;
            content: '';
            width: 181px;
            height: 450px;
            background: $blue;
            top: 153px;
            right: 310px;
            mix-blend-mode: multiply;
         }
      }
   }

   &-tab {
      font-weight: 600;
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      border-bottom: 2px solid $blue;
      padding-bottom: 16px;

      &--2 {
         -ms-grid-column: 3;
      }

      &--big {
         margin-top: 43px;
      }
   }

   &-form {
      max-width: 658px;
      position: relative;

      &:before {
         position: absolute;
         content: '';
         width: 4px;
         height: 205px;
         background: $text;
         left: 200px;
         bottom: -315px;
      }

      &--main {
         &:before {
            height: 102px;
            bottom: -213px;
            left: calc(50% - 2px);
         }
      }

      &--big {
         max-width: 100%;
      }

      &-grid {
         margin-top: 43px;
         margin-bottom: 55px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 40px;
         grid-row-gap: 48px;
         -ms-grid-columns: 1fr 40px 1fr;
         -ms-grid-rows: 1fr 48px 1fr;

         &--big {
            display: block;
            margin-bottom: 70px;
         }
      }

      &-inputs {
         display: grid;
         grid-template-columns: 206px 206px 167px;
         grid-template-rows: 36px 36px;
         grid-column-gap: 40px;
         grid-row-gap: 45px;
         -ms-grid-columns: 206px 40px 206px 40px 166px;
         -ms-grid-rows: 50px 45px 50px;

         &--big {
            grid-template-columns: 1fr 1fr 1fr 1fr;
         }
      }

      &-radio {
         -ms-grid-row: 3;

         &--big {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
            grid-column-gap: 80px;
            justify-content: space-between;
            margin-top: 50px;

            &-1 {
               margin-bottom: 43px;
            }
         }
         
         &__wrap {
            display: flex;
            justify-content: space-between;
         }

         &__block {
            display: flex;
            margin-bottom: 15px;

            &:nth-child(2) {
               -ms-grid-column: 3;
            }

            &:nth-child(3) {
               -ms-grid-column: 5;
            }

            &:nth-child(4) {
               -ms-grid-column: 7;
            }

            &--big {
               margin-bottom: 0;
            }
         }

         &__hidden {
            display: none;
         }

         &__label {
            width: 19px;
            height: 19px;
            border: 1px solid #636363;
            border-radius: 50%;
            margin-right: 14px;
            cursor: pointer;
         }

         &__text {
            &--big {
               max-width: 190px;
            }
         }

         &__date {
            margin-top: 32px;
            width: 100%;
            height: 32px;
            opacity: 0.4;
            transition: all 0.3s;

            &:enabled {
               opacity: 1;
            }
         }

         &--2 {
            -ms-grid-column: 3;
         }
      }
   }
}

.request-form-radio__hidden:checked ~ .request-form-radio__label {
   border: 4px solid #fff;
   background: $blue;
}