.requirements-remark {
    margin-top: -130px;

    &__text {
        width: 440px;
        color: $text;
        size: 18px;
        line-height: 23px;
    }

    &__title {
        width: 290px;
        margin-top: 30px;
        font-weight: 600;
        size: 24px;
        line-height: 30.77px;
        display: block;
    }
 }