.requirements {
   color: #fff;
   position: relative;
   margin-bottom: 210px;

   &:after {
      position: absolute;
      content: url(/assets/icons/requirements.svg);
      height: 375px;
      width: 808px;
      bottom: -190px;
      right: 0;
      z-index: -2;
   }

   &-block {
      display: flex;
      justify-content: space-between;
      background: $text;
      padding-top: 85px;
      padding-left: 60px;
      padding-bottom: 50px;
      position: relative;

      &:before {
         position: absolute;
         content: '';
         height: 25px;
         width: 482px;
         left: 0;
         top: 0;
         z-index: 2;
         background: $blue;
      }

      &:after {
         position: absolute;
         content: '';
         height: 100%;
         width: 2000px;
         left: 0;
         top: 0;
         z-index: -1;
         background: $text;
      }
   }

   &-right {
      max-width: 688px;
   }

   &-tabs {
      margin: 45px 0;
      display: flex;
   }

   &-tab {
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $grey;
      margin-right: 38px;
      padding-bottom: 8px;
      transition: all 0.3s;

      &:before {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background: $blue;
         transition: all 0.3s;
         opacity: 0;
         bottom: 0;
      }

      &--active {
         color: #fff;

         &:before {
            opacity: 1;
         }
      }

      &:hover {
         color: #fff;
      }

      &--auto {
         margin-right: 0;
      }
   }

   &-img {
      max-width: 243px;
      margin-left: 40px;

      &__wrap {
         position: relative;

         &:before {
            position: absolute;
            content: '';
            height: 340px;
            width: 482px;
            background: #32A8FE;
            mix-blend-mode: multiply;
            top: 190px;
            left: -120px;
         }
      }
   }

   &-item {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      display: grid;
      grid-template-columns: 207px auto;
      -ms-grid-columns: 207px 35px auto;
      grid-column-gap: 35px;
      padding: 19px 0;

      &__left {
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 23px;
         color: $grey;
      }

      &__right {
         font-weight: normal;
         font-size: 18px;
         line-height: 23px;
         color: #FFFFFF;
         -ms-grid-column: 3;
      }
   }
}