.reviews {
   margin-bottom: 125px;

   &-slider {
      // transform: translateY(-60px);
      // margin-top: -60px;
      margin: 0 -25px;
      
      &__wrap {
         width: 850px;
         padding: 0 25px;
         transform: translateY(-60px);
         margin: 0 auto;
         position: relative;

         &:before {
            position: absolute;
            content: '';
            width: 4px;
            height: 150px;
            background: $text;
            bottom: -190px;
            left: 313px;
         }
      }

      &__bg {
         background: $text;
         margin-top: 108px;
         position: relative;
         padding-bottom: 20px;

         &:before {
            position: absolute;
            content: '';
            height: 100%;
            width: 2000px;
            right: 0;
            top: 0;
            z-index: -1;
            background: $text;
         }
      }

      &-item {
         background: #fff;
         position: relative;
         margin: 0 25px;
         margin-top: 17px;
         outline: none;

         &:before {
            position: absolute;
            content: '';
            width: 25px;
            height: 313px;
            top: 0;
            left: -25px;
            background: $blue;
         }
   
         &__header {
            background: #F3F2F2;
            padding-top: 28px;
            padding-left: 40px;
            padding-bottom: 35px;
            position: relative;

            &::after {
               position: absolute;
               content: url(/assets/icons/quots.svg);
               right: 40px;
               top: -17px;
            }
         }

         &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 9px;
         }

         &__subtitle {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: $grey;
         }

         &__body {
            padding-top: 57px;
            padding-left: 60px;
            padding-bottom: 60px;
            padding-right: 55px;
         }

         &__top {
            display: flex;
         }

         &__name {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
         }

         &__status {
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
         }

         &__avatar {
            display: block;
            width: 90px;
            height: 90px;
            margin-right: 38px;
         }

         &__stars {
            margin-top: 17px;
            display: flex;
         }

         &__star {
            display: block;
            margin-right: 5px;
         }

         &__text {
            margin-top: 35px;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
         }
      }
   }

   &-bottom {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      &__links {
         display: flex;
      }

      &__link {
         color: #fff;
         margin-left: 30px;
      }
   }

}

.slick-dots {
   display: flex;
   list-style: none;
}

.slick-dots li button {
   cursor: pointer;
   outline: none;
   font-size: 0;
   width: 8px;
   height: 8px;
   border: none;
   background: #fff;
   border-radius: 50%;
   margin-left: 23px;
   transition: all 0.2s;
   box-sizing: content-box;
}

.slick-dots .slick-active button {
   width: 11px;
   height: 11px;
   border: 3px solid $blue;
   background: transparent;
}