.rules {
    position: relative;
    padding-top: 0;

    &:before {
        position: absolute;
        content: '';
        background-color: $text;
        width: 4px;
        height: 60px;
        top: -100px;
        left: calc(50% - 2px);
    }

    .why-block {
        margin-top: 60px;
        grid-template-columns: 1fr;
        margin-bottom: 60px;

        &:before {
            display: none;
        }

        &:after {
            height: 60px;
            right: auto;
            left: calc(50% - 2px);
        }
    }

    .why-list__title {
        margin-top: 60px;
        margin-bottom: 25px;
    }

    .why__text {
        &:first-of-type {
            margin-top: 0;
        }
        &:not(:last-of-type) {
            margin-bottom: 43px;
        }
    }

    .section-title {
        position: relative;
        max-width: 700px;
        margin-left: -57px;
        padding-left: 57px;
        padding-top: 20px;
        padding-bottom: 19px;
        background-color: #F3F2F2;
        &:before {
            position: absolute;
            content: '';
            height: 100%;
            background-color: $blue;
            width: 25px;
            top: 0;
            left: -25px;
        }
    }
}