.types-ur {
   padding-bottom: 140px;

   &__container {
      max-width: 820px;
   }

   &-tabs {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr 30px 1fr;
      grid-column-gap: 30px;
   }

   &-tab {
      border: 1px solid #212121;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #212121;
      padding: 23px 31px;
      display: flex;
      justify-content: space-between;
      transition: all 0.2s;
      cursor: pointer;
      background: #fff;
      position: relative;
      z-index: 4;

      &--active {
         background: #32A8FE;
         border: 1px solid #32A8FE;
         color: #fff;
      }

      &--auto {
         -ms-grid-column: 3;
      }
   }

   &-block {
      padding: 181px 60px 85px;
      background: #F3F2F2;
      max-width: 430px;
      margin: 0 auto;   
      margin-top: -135px;
      position: relative;
      z-index: 1;

      &:before {
         content: '';
         position: absolute;
         width: 4px;
         height: 181px;
         background: $text;
         left: calc(50% - 2px);
         bottom: -140px;
      }
   }

   &__text {
      font-size: 18px;
      line-height: 23px;
      text-align: center;
   }
}