.why {
   padding-top: 67px;
   margin-bottom: 78px;

   &__text {
      margin-top: 43px;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
   }

   &-block {
      margin-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 75px;
      position: relative;
      padding-bottom: 125px;

      &:before {
         position: absolute;
         content: '';
         top: 145px;
         left: calc(50% - 416px);
         width: 832px;
         height: 293px;
         background: #F3F2F2;
         z-index: -1;
      }

      &:after {
         position: absolute;
         content: '';
         width: 4px;
         height: 102px;
         background: $text;
         bottom: 0px;
         right: 305px;
      }

      &.why-block--no-divider {
         padding-bottom: 85px;
         &:after {
            display: none;
            background-color: #fff;
         }
      }

      &.why-block--subtitle {
         .why-list {
            margin-top: 0;
         }
      }
   }

   &-list {
      list-style: none;
      margin-top: 19px;

      &--first {
         margin-top: 40px;
      }

      &__title {
         font-weight: 600;
         font-size: 24px;
         line-height: 31px;
         color: #000000;
      }

      &__item {
         font-weight: normal;
         font-size: 18px;
         line-height: 24px;
         position: relative;
         padding-left: 50px;
         margin-bottom: 15px;

         &:before {
            position: absolute;
            content: '';
            height: 1px;
            width: 25px;
            background: $text;
            left: 0;
            top: 11px;
         }

         &:last-child {
            margin-bottom: 0;
         }
      }
  
      &__item-title {
         display: block;
         font-size: 20px;
         font-weight: 600;
         line-height: 23px;
      }
   }

   &-right {
      position: relative;

      &__img {
         max-width: 490px;
         position: absolute;
         top: 0;
         right: 0;
         mix-blend-mode: multiply;

         &--moto {
            top: 13px;
         }
      }

      &__title {
         font-weight: 600;
         font-size: 36px;
         line-height: 46px;
         color: #fff;
         padding: 50px 280px 120px 58px;
         background: $blue;
         max-height: 260px;

         &--span {
            position: relative;
         }

         &--spec {
            padding-right: 200px;
         }

         &--auto {
            padding-right: 185px;
         }

         &--gruz {
            padding-right: 130px;
         }
      }
   }

   &-left {
      position: relative;
      &__title {
         position: absolute;
         top: 0;
         font-weight: 600;
         font-size: 36px;
         line-height: 46px;
         color: #fff;
         padding: 50px 120px 58px 280px ;
         background: #32A8FE;
         max-height: 260px;
         opacity: 0.5;
         text-align: right;
         &--span {
            position: relative;
         }
      }
   }

   &-icons {
      margin-top: 80px;

      &__list {
         margin-bottom: 80px;
         margin-top: 34px;
         display: -ms-grid;
         display: grid;
         -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
         grid-template-columns: 1fr 1fr 1fr;
         -ms-grid-rows: 1fr 33px 1fr;
         grid-template-rows: 1fr 1fr;
         grid-column-gap: 30px;
         grid-row-gap: 33px;
      }

      &__text {
         font-weight: normal;
         font-size: 18px;
         line-height: 23px;
      }

      &__item {
         display: flex;
         align-items: center;

         &:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
         }

         &:nth-child(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
         }

         &:nth-child(3) {
            -ms-grid-row: 1;
            -ms-grid-column: 5;
         }

         &:nth-child(4) {
            -ms-grid-row: 3;
            -ms-grid-column: 1;
         }

         &:nth-child(5) {
            -ms-grid-row: 3;
            -ms-grid-column: 3;
         }

         &:nth-child(6) {
            -ms-grid-row: 3;
            -ms-grid-column: 5;
         }
      }

      &__icon {
         margin-right: 28px;
      }
   }
}
